body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #F8F8F8;
    color: #333;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 0;
}

h2 {
    font-size: 18px;
    color: black;
    margin-top: 5px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    color: #333;
    margin-top: 40px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    font-size: 16px;
}

a {
    color: #007bff;
    text-decoration: underline;
}
