body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}

h1, p {
    font-weight: bold;
}

.cirkel {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-width: 10px;
    border-color: black;
    margin: 10px auto;
}

/* Rode cirkel */
.rood {
    background-color: red;
    border-style: solid;
}

/* Groene cirkel */
.groen {
    background-color: green;
    border-style: double;
}

/* Blauwe cirkel */
.blauw {
    background-color: blue;
    border-style: dashed;
}
