h1 {
    font-size: 2.4rem;
    color: red; 
    font-weight: bold; 
}


h2 {
    font-size: 1.8rem; 
    color: red; 
    font-weight: bold; 
    text-decoration: underline; 
}


p {
    font-size: 1.2rem; 
}


img {
    border: 3px dotted red;
}
