body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    border: 1px solid black;
    padding: 10px; 
    box-sizing: border-box; 
}

header, footer {
    width: 100%;
}

main {
    display: flex; 
    width: 100%;
}

section {
    width: 62%;
}

aside {
    width: 38%;
}

header nav {
    width: 50%;
}

article {
    border: 2px dotted red;
    margin-bottom: 5px;
}
